body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}

li {
    margin: 0 10px;
    color: #555;
}

span {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo img {
    width: 200px;
    height: 200px;
}

a {
    font-size: 15px;
    color: #f4f4f4;
    text-decoration: none;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: #f4f4f4;
    background-color: #43d477;
}